[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/slim"]
	path = themes/slim
	url = https://github.com/zhe/hugo-theme-slim
[submodule "themes/hugo-zen"]
	path = themes/hugo-zen
	url = https://github.com/rakuishi/hugo-zen.git
